@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYvz_MVcBeNP4NJuktqQ4E.woff2) format('woff2');
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
    U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYvz_MVcBeNP4NJtEtq.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'CodeNewRoman';
  font-display: swap;
  src: url(https://fonts.cdnfonts.com/css/code-new-roman) format('woff2');
}

:root {
  --vp-font-family-base: 'CodeNewRoman', 'Outfit', 'Courier New', Courier, monospace;
  --vp-font-family-mono: 'CodeNewRoman', 'Outfit', 'Courier New', Courier, monospace;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  /* --vp-home-hero-image-background-image: -webkit-linear-gradient(45deg, #2af598 50%, #009efd 50%); */
  /* --vp-home-hero-image-filter: blur(44px); */
}
