@font-face {
  font-family: 'Mononoki';
  src: url('/mononoki.ttf');
}

@font-face {
  font-family: 'PingFang';
  src: url('/pingfang.ttf');
}

@font-face {
  font-family: 'Monaco';
  src: url('/monaco.ttf');
}

:root {
  --vp-font-family-base: Mononoki, PingFang, 'Courier New', Courier, monospace;
  --vp-font-family-mono: Monaco, PingFang, 'Courier New', Courier, monospace;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #2af598 30%, #009efd);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #2af598 50%, #009efd 50%);
  --vp-home-hero-image-filter: blur(44px);
}
